Package: com.subdiox.noannoyance
Name: NoAnnoyance
Depends: mobilesubstrate, preferenceloader, firmware (>= 8), applist (>= 1.5)
Breaks: com.pNre.noannoyance
Version: 1.1
Architecture: iphoneos-arm
Description: Tame iOS annoying alerts!
Maintainer: subdiox
Author: subdiox
Section: Tweaks
Icon: file:///Library/PreferenceBundles/NoAnnoyancePrefs.bundle/NoAnnoyance@3x.png
