<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>SpringBoard</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Data</string>
		</dict>
		<dict>
			<key>default</key>
			<true/>
			<key>key</key>
			<string>NO_SIM_CARD_INSTALLED</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>PostNotification</key>
			<string>com.subdiox.noannoyance/settingsupdated</string>
			<key>label</key>
			<string>No SIM Card Installed</string>
			<key>defaults</key>
			<string>com.subdiox.noannoyance</string>
		</dict>
		<dict>
			<key>default</key>
			<true/>
			<key>key</key>
			<string>CELLULAR_DATA_IS_TURNED_OFF</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>PostNotification</key>
			<string>com.subdiox.noannoyance/settingsupdated</string>
			<key>label</key>
			<string>Cellular Data is Turned Off</string>
			<key>defaults</key>
			<string>com.subdiox.noannoyance</string>
		</dict>
		<dict>
			<key>default</key>
			<true/>
			<key>key</key>
			<string>CELLULAR_DATA_IS_TURNED_OFF_FOR</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>PostNotification</key>
			<string>com.subdiox.noannoyance/settingsupdated</string>
			<key>label</key>
			<string>Cellular Data is Turned Off for ...</string>
			<key>defaults</key>
			<string>com.subdiox.noannoyance</string>
		</dict>
		<dict>
			<key>default</key>
			<true/>
			<key>key</key>
			<string>WIFI_IS_TURNED_OFF_FOR</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>PostNotification</key>
			<string>com.subdiox.noannoyance/settingsupdated</string>
			<key>label</key>
			<string>Wi-Fi is Turned Off for ...</string>
			<key>defaults</key>
			<string>com.subdiox.noannoyance</string>
		</dict>
		<dict>
			<key>default</key>
			<true/>
			<key>key</key>
			<string>TURN_OFF_AIRPLANE_MODE</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>PostNotification</key>
			<string>com.subdiox.noannoyance/settingsupdated</string>
			<key>label</key>
			<string>Turn Off Airplane Mode</string>
			<key>defaults</key>
			<string>com.subdiox.noannoyance</string>
		</dict>
		<dict>
			<key>default</key>
			<true/>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>FACETIME_ACTIVATION_ALERT</string>
			<key>PostNotification</key>
			<string>com.subdiox.noannoyance/settingsupdated</string>
			<key>label</key>
			<string>Facetime/iMessage Activation</string>
			<key>defaults</key>
			<string>com.subdiox.noannoyance</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Location</string>
		</dict>
		<dict>
			<key>default</key>
			<true/>
			<key>key</key>
			<string>IMPROVE_LOCATION_ACCURACY</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>PostNotification</key>
			<string>com.subdiox.noannoyance/settingsupdated</string>
			<key>label</key>
			<string>Improve Location Accuracy</string>
			<key>defaults</key>
			<string>com.subdiox.noannoyance</string>
		</dict>
		<dict>
			<key>footerText</key>
			<string>* These options only block the alerts.</string>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Accessories</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>default</key>
			<false/>
			<key>key</key>
			<string>ACCESSORY_UNRELIABLE</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>PostNotification</key>
			<string>com.subdiox.noannoyance/settingsupdated</string>
			<key>label</key>
			<string>Accessory Not Certified</string>
			<key>defaults</key>
			<string>com.subdiox.noannoyance</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Battery</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>default</key>
			<true/>
			<key>key</key>
			<string>LOW_BATTERY_DEVICE</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>PostNotification</key>
			<string>com.subdiox.noannoyance/settingsupdated</string>
			<key>label</key>
			<string>Low Battery: Device</string>
			<key>defaults</key>
			<string>com.subdiox.noannoyance</string>
		</dict>
		<dict>
			<key>default</key>
			<true/>
			<key>key</key>
			<string>LOW_BATTERY_ACCESSORY</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>PostNotification</key>
			<string>com.subdiox.noannoyance/settingsupdated</string>
			<key>label</key>
			<string>Low Battery: Accessory</string>
			<key>defaults</key>
			<string>com.subdiox.noannoyance</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>System</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>default</key>
			<true/>
			<key>key</key>
			<string>SOFTWARE_UPDATE</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>PostNotification</key>
			<string>com.subdiox.noannoyance/settingsupdated</string>
			<key>label</key>
			<string>Software Update</string>
			<key>defaults</key>
			<string>com.subdiox.noannoyance</string>
		</dict>
		<dict>
			<key>default</key>
			<true/>
			<key>key</key>
			<string>LOW_DISK_SPACE</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>PostNotification</key>
			<string>com.subdiox.noannoyance/settingsupdated</string>
			<key>label</key>
			<string>Storage Almost Full</string>
			<key>defaults</key>
			<string>com.subdiox.noannoyance</string>
		</dict>
		<dict>
			<key>default</key>
			<true/>
			<key>key</key>
			<string>LATE_BACKUP_ALERT</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>PostNotification</key>
			<string>com.subdiox.noannoyance/settingsupdated</string>
			<key>label</key>
			<string>iCloud Backup Late</string>
			<key>defaults</key>
			<string>com.subdiox.noannoyance</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Security</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>default</key>
			<integer>0</integer>
			<key>key</key>
			<string>TRUST_THIS_COMPUTER</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>PostNotification</key>
			<string>com.subdiox.noannoyance/settingsupdated</string>
			<key>label</key>
			<string>Trust This Computer</string>
			<key>defaults</key>
			<string>com.subdiox.noannoyance</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>validTitles</key>
			<array>
				<string>Ask Every Time</string>
				<string>Don&apos;t Trust</string>
				<string>Always Trust</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
	</array>
</dict>
</plist>
